*{
    margin: 0;
    padding: 0;
}

.container{
    width: 90%;
    margin: 5px auto;
    height: auto;
    border: 1px solid #c4c4c4;
    position: relative;
  }

  .line{
    stroke:rgb(255,0,0);
    stroke-width:1
  }

  .point{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    position: absolute;
    background: black;
  }

  .svgcircle {
    stroke:black; 
    stroke-width: 3;
    background: red;
  }